.container {
  display: flex;
}

.sidebar {
  flex: 1;
  height: 100vh;
  background-color: #F0F8FF;
  overflow: auto;
}

article {
  flex: 3;
  height: 100vh;
  background-color: #fff;
  overflow: auto;
}
